# .gitignore

# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executable files
*.exe

# GTK build files
*.log
*.cache

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db